{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registrovisitas</h1>

    <table>
        <tbody>
            <tr>
                <th>Idregvis</th>
                <td>{{ registrovisita.idregvis }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if registrovisita.fecha %}{{ registrovisita.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>{{ registrovisita.archivo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_registrovisitas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_registrovisitas_edit', { 'id': registrovisita.idregvis }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
